*
a{ text-decoration: none;}
table,td
{
	border: 1px solid #f3e5ab;
	border-collapse: collapse;
}
td
{
	text-align: center;
}
.table-alignment
{
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 153px;
	margin-bottom: 20px;
}
.container
{
	position: relative;
	text-align: center;
}
.centered
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 75%;
	left: 30%;
	color: #black;
	font-size: 30px;
}
.centered-2
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 75%;
	left: 70%;
	color: #8b0000;
	font-size: 30px;
}
.centered-3
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 120%;
	left: 26%;
	color: #black;
	font-size: 30px;	
}
.centered-4
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 120%;
	left: 70%;
	color: #fafafa;
	font-size: 30px;
}
.centered-5
{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 160%;
	left: 26%;
	color: #fafafa;
	font-size: 30px;
}	